# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/
env/

# Local data
data/uploads/
data/*.db

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Git
.git/
.gitignore

# Build artifacts
*.log
