name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PADDLE_PDX_DISABLE_MODEL_SOURCE_CHECK: "true"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - run: python -m pip install --upgrade pip setuptools wheel
      - run: python -m pip install -r requirements.txt
      - run: python -m compileall app